@model FantasyApp.ViewComponents.TournamentLiveViewComponent.ViewModel

<script src="~/js/tournamentLive.js"></script>

@if (Model.UserHasTicket)
{
    <div>
        <!-- Stepper -->
        <ol class="flex w-full items-center py-4 text-center text-sm font-medium text-gray-400 sm:text-base">
            <li class="draft-stepper-selected">
                <span class="draft-stepper-container">
                    <svg class="me-2.5 h-3.5 w-3.5 sm:h-4 sm:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    Draft
                </span>
            </li>
            <li class="draft-stepper-default">
                <span class="draft-stepper-container">
                    <span class="me-2">2</span>
                    Game
                </span>
            </li>
            <li class="flex items-center">
                <span class="me-2">3</span>
                Results
            </li>
        </ol>

        <!-- Your draft -->
        @if (Model.UserHasDraft)
        {
            <!-- Container -->
            <h1 class="heading text-white">Leaderboard</h1>
            <div>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-left text-sm">
                        <thead class="text-xs uppercase text-gray-300">
                            <tr>
                                <th scope="col" class="px-6 py-3">Position</th>
                                <th scope="col" class="px-6 py-3">Username</th>
                                <th scope="col" class="px-6 py-3">Total Score</th>
                            </tr>
                        </thead>
                        <tbody class="text-white">
                            @foreach (var userAndDraft in Model.UsersAndDrafts)
                            {
                                <tr class="bg-black bg-opacity-30 font-bold">
                                    <th scope="row" class="text-ce whitespace-nowrap px-6 py-4 font-medium text-white">5th</th>
                                    <td class="px-6 py-4">@userAndDraft.User.UserName</td>
                                    <td class="px-6 py-4">200</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <h1 class="heading text-white">Your draft</h1>
            <div class="flex-cols-5 flex h-48 w-full justify-between space-x-4 text-white">
                <div id="@Model.UserDraft["Top"].ID" class="drafted-player-card">
                    <img class="absolute bottom-0 object-contain p-2" src="~/images/missingimage.png" />

                    <div class="absolute flex w-full flex-col items-center justify-center pt-2">
                        <p class="text-center">@Model.UserDraft["Top"].Player</p>
                        <p class="text-center text-lg font-bold">200</p>
                    </div>
                </div>

                <div id="@Model.UserDraft["Jgl"].ID" class="drafted-player-card">
                    <img class="absolute bottom-0 object-contain p-2" src="~/images/missingimage.png" />

                    <div class="absolute flex w-full flex-col items-center justify-center pt-2">
                        <p class="text-center">@Model.UserDraft["Jgl"].Player</p>
                        <p class="text-center text-lg font-bold">200</p>
                    </div>
                </div>

                <div id="@Model.UserDraft["Mid"].ID" class="drafted-player-card">
                    <img class="absolute bottom-0 object-contain p-2" src="~/images/missingimage.png" />

                    <div class="absolute flex w-full flex-col items-center justify-center pt-2">
                        <p class="text-center">@Model.UserDraft["Mid"].Player</p>
                        <p class="text-center text-lg font-bold">200</p>
                    </div>
                </div>

                <div id="@Model.UserDraft["Bot"].ID" class="drafted-player-card">
                    <img class="absolute bottom-0 object-contain p-2" src="~/images/missingimage.png" />

                    <div class="absolute flex w-full flex-col items-center justify-center pt-2">
                        <p class="text-center">@Model.UserDraft["Bot"].Player</p>
                        <p class="text-center text-lg font-bold">200</p>
                    </div>
                </div>

                <div id="@Model.UserDraft["Sup"].ID" class="drafted-player-card">
                    <img class="absolute bottom-0 object-contain p-2" src="~/images/missingimage.png" />

                    <div class="absolute flex w-full flex-col items-center justify-center pt-2">
                        <p class="text-center">@Model.UserDraft["Sup"].Player</p>
                        <p class="text-center text-lg font-bold">200</p>
                    </div>
                </div>
            </div>

            <h1 class="heading text-white">Schedule</h1>
            <div class="space-y-6">
                @foreach (var match in Model.Matches)
                {
                    <!-- Match Title -->
                    <div class="flex w-full justify-between space-x-8 text-white">
                        <!-- Status -->
                        <div class="flex items-center space-x-8 rounded-lg bg-black px-4 py-2">
                            @if (match.HasFinished)
                            {
                                <div class="flex aspect-square h-8 w-8 items-center justify-center rounded-full bg-green-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" class="h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                    </svg>
                                </div>
                            }
                            else
                            {
                                <div class="flex aspect-square h-8 w-8 items-center justify-center rounded-full bg-amber-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" class="h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                </div>
                            }

                            <div class="flex flex-col items-center justify-center text-white">
                                <a id="Date">@match.DateTime_UTC.ToString("dd/MM/yy")</a>
                                <a id="Time" class="font-bold">@match.DateTime_UTC.ToString("hh:mm")</a>
                            </div>
                        </div>

                        <!-- Tournament  -->
                        <div class="flex w-full rounded-md bg-slate-800 text-white">
                            <!-- Matchup -->
                            <div class="flex space-x-6 w-4/5 justify-center items-center">
                                <!-- Team 1 -->
                                <div class="w-2/5 text-end">@match.Team1</div>

                                <!-- vs -->
                                <div class="w-1/5 text-center">Vs</div>

                                <!-- Team 2 -->
                                <div class="w-2/5 text-start">@match.Team2</div>
                            </div>

                            <!-- Get Match Results Button -->
                            @if (match.HasFinished)
                            {
                                <div class="flex w-1/5 justify-center items-center">
                                    <button onclick="expandMatchResults('@match.UniqueMatch')">
                                        <div class="bg-black bg-opacity-20 aspect-square h-10 flex justify-center items-center rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Expanded Math -->
                    <div id="@match.UniqueMatch" class="hidden m-2 rounded-md bg-slate-700 p-4">
                    </div>
                }
            </div>

            <script type="text/javascript">
                initialize();
            </script>
        }
        else
        {
            <h1 class="heading text-white">Your Draft</h1>
            @await Component.InvokeAsync("CreateDraft", new
                {
                    TournamentId = Model.TournamentId,
                    UserTournamentId = Model.UserTournamentId,
                })
        }

        <!-- Completed drafts -->
        <div class="h-sc">
            <h1 class="heading text-white">Completed Drafts</h1>
            <ol>
                <li class="pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Neil image" />
                        </div>
                        <div class="min-w-0 flex-1">
                            <p class="truncate text-sm font-medium text-white">Neil Sims</p>
                            <p class="truncate text-sm text-gray-400">email@flowbite.com</p>
                        </div>
                        <div class="flex pr-10">
                            <img class="player-icon" src="~/images/profile.png" alt="player image" />
                            <img class="player-icon" src="~/images/profile.png" alt="player image" />
                            <img class="player-icon" src="~/images/profile.png" alt="player image" />
                            <img class="player-icon" src="~/images/profile.png" alt="player image" />
                            <img class="player-icon" src="~/images/profile.png" alt="player image" />
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-white">10.8</div>
                    </div>
                </li>

            </ol>
        </div>
    </div>
}
else
{
    <div>
        You need a ticket to view this resource!
    </div>
}
